.tittle-1{
    margin-top: 10%;
}
.section-4{
    margin-top: 8%;
}

.section-4 .row .col-md-6, .col-md-5{
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.section-4 a{
    text-decoration: none;
    font-size: 30px;
    color: crimson;
}

.section-4 .para-1{
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}
.c-section{
    margin-bottom:3.5rem
}

@media screen and (min-width:769px){
    section.c-section{
    margin-bottom:6.5rem
    }
    section.c-section--secondary-navbar{
    margin-top:8rem
    }
}

section.c-section--hero-404 .c-hero__title{
    margin-bottom:1rem
}
@media screen and (min-width:769px){
    section.c-section--hero-404 .c-hero__title{
        margin-bottom:.5rem
    }
}

section.c-section--hero-404 .c-hero__text--right a.col{
    -webkit-box-flex:1;-webkit-flex:auto;-moz-box-flex:1;-ms-flex:auto;flex:auto;margin-bottom:1rem;padding:0!important
}
section.c-section--hero-404 .c-hero__text--right a.col:first-child button{
    background-color:#00aa13;color:#fff
}

@media screen and (min-width:769px){
    section.c-section--hero-404 .c-hero__text--right a.col:first-child{
        display:none
    }
    .u-container-float--right{
        max-width:none;margin-right:0;overflow:hidden;padding-left:var(--language-right)!important
    }
}

@media screen and (min-width:1440px){
    .u-container-float--right{
        overflow:hidden;padding-left:var(--language-right)!important}}@media screen and (min-width:1561px)
    {
    .u-container-float--right{
        padding-left:0!important
    }
}

@media screen and (min-width:769px){
    .u-container-float--left{
        max-width:none;margin-right:0;overflow:hidden;padding-right:86px!important
    }
}

@media screen and (min-width:1440px){
    .u-container-float--left{
        overflow:hidden;padding-right:166px!important
    }
}

@media screen and (min-width:1561px){
    .u-container-float--left{
        padding-right:86px!important
    }
}

@media screen and (max-width:768px){
    .u-full-width{width:-moz-calc(100% + 16px)!important;width:calc(100% + 16px)!important;left:-16px!important}}@media screen and (max-width:767px){.u-full-width{position:relative;right:0;width:-moz-calc(100% + 32px)!important;width:calc(100% + 32px)!important;left:-16px!important}}@media screen and (min-width:769px){.c-header~main.component-wrapper{margin-top:5rem}}