.banner{
    position: relative;
    background: url(https://lelogama.go-jek.com/component/hero/picture/HOME-PAGE.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px 0 200px;
}

.site-content
{
    background-image: url(https://lelogama.go-jek.com/component/hero/picture/HOME-PAGE.jpg);
    height: 90vh;
    background-position: center;

}

.site-tittle, .site-desc{
    color: white;
}

.site-tittle{
    margin-top: 20%;
    margin-bottom: 6%;
    font-size: 50px;
}


.site-desc
{
    font-size: 14px;
    padding-left: 15%;
    color: white;
    text-align: center;
}

.site-content .btn-site{
    margin-bottom: 10%;
}


/* Section 1 */
.row .col-lg-6{
    margin-top: 18%;
}

.section-1 .col-lg-6 .p{
    margin-top: 5%; 
}

.btn-site{
    background: green;
    border-radius: 20px;
}

.section-1 .col-md-6 h1{
    margin-top: 15%;
    font-size: 39px;
}

.col-md-6 img{
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.section-1{
    margin-top: 10%;
}

/*Section 2 */

.section-2{
    margin-top: 10%;
}
.section-2 a{
    margin-top: 3%;
}
.btn-2{
    color: green;
    border: 1px solid green;
    border-radius: 20px;
    text-decoration-color: none;
    text-decoration: none;

}


/*section 3*/


.section-3{
    margin-top: 10%;

}
.section-2 a{
    color: green;
    text-decoration: none;
    
}

.section-3 .card{
    border-radius: 20px;
    width: 24rem;
}

.section-3 img{
    border-radius: 20px;
}

.card{
    margin-top: 8%;
    margin-bottom: 8%;
}

/* Footer */

footer  li{
    list-style-type: none;
}

footer .col-md-4 img{
    width: 220px;
    height: auto;
}

footer .col-md-2 img{
    width: 150px;
    height: auto;
}

@media screen and (max-width: 320px){
    .site-content{
        height: 50vh;
        background-position: center;
    }

    
    .site-content h2{
        font-size: 20px;
    }

    .section-1 img{
        width: 280px;
    }

    .section-1 .col-md-6 .tittle-1{
        font-size: 30px;
    }

    .section-2 img{
        width: 280px;
        margin-top: 5%;
    }

    .section-2 .col-md-6 .tittle-1{
        font-size: 30px;
    }

    .section-2 a{
        font-size: 12px;
        padding: 10px 20px;;

    }

    .section-3 .card
    {
        width: 18rem;
    }
}

